@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

h1{
    font-family: "Poppins" , sans-serif;
	text-align:center;
	color:rgb(163, 141, 141);
	width:50%;
	margin:auto;
}

h2{
	text-align:center;
	color:#000;
	width:50%;
	margin:auto;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_cont{
    height: 350px;
    width:800px;
}
table{
    height: 100%;
    width: 100%;
	border:2px solid grey;
    border-radius: 20px;
	padding:30px 60px;
	margin-top:50px;
}
#codigo,#n_art,#cantidad,#precio{
    border:1px solid black;
    height:30px;
    width: 200px;
}
#enviar,#Borrar,#Ver,#imprimir{
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 5px;
    height:35px;
    padding-left: 10px;
    padding-right: 10px;
    font:bold;
    border:none;
    border-radius: 20px;
    color:white;
    background: grey;
}
#Ver:hover{
    background: rgb(1,255,201);
    border:none;
    color:white;
}
#imprimir:hover{
    background: rgb(1,255,201);
    border:none;
    color:white;
}
#Borrar:hover{
    background: rgb(1,255,201);
    border:none;
    color:white;
}
#enviar:hover{
    background: rgb(1,255,201);
    border:none;
    color:white;
}