@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0px;
	margin:0px;
	box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    background-color: white;
}
h1{
    font-family: "Poppins" , sans-serif;
	text-align:center;
	color:rgb(163, 141, 141);
	width:50%;
	margin:auto;
    font-size:20px;
}

h2{
    font-size:20px;
	text-align:center;
	color:#000;
	width:50%;
	margin:auto;
}

table{
	border:2px solid grey;
    border-radius: 20px;

	margin-top:50px;
	padding:20px 50px;
	margin:auto;
}
#Regresar{
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 5px;
    height:35px;
    padding-left: 10px;
    padding-right: 10px;
    font:bold;
    border:none;
    border-radius: 20px;
    color:white;
    background: grey;
}
#Regresar:hover{
    background: rgb(1,255,201);
    border:none;
    color:white;
}
