@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0px;
	margin:0px;
	box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    background-color: white;
}
body{
    margin-top:55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-family: "Poppins" , sans-serif;
	text-align:center;
	color:rgb(163, 141, 141);
    font-size: 25px;
	margin:auto;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border:2px solid grey;
    border-radius: 10px;
    display: flex;
    background: whitesmoke;
    height: 100%;
    width: 70%;
	padding:30px ;
    padding-left: 60px;
	margin-top:50px;
    margin-bottom: 20px;
}
table td{
    width:200px;
    background: white;
    text-align: center;
    margin:0;
}
#SECCION,#PRODUCTO,#FECHA,#ORIGEN{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-left: 3px;
    border:1px solid black;
    height:30px;
    width: 200px;
}
#enviar,#Borrar,#Ver,#imprimir,#mostrar{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 5px;
    height:35px;
    padding-left: 10px;
    padding-right: 10px;
    font:bold;
    border:none;
    border-radius: 20px;
    color:white;
    background: grey;
}
#Ver:hover{
    background: rgb(1,255,201);
    border:none;
    color:white;
}
#imprimir:hover{
    background: rgb(1,255,201);
    border:none;
    color:white;
}
#Borrar:hover{
    background: rgb(1,255,201);
    border:none;
    color:white;
}
#enviar:hover{
    background: rgb(1,255,201);
    border:none;
    color:white;
}
#mostrar:hover{
    background: rgb(1,255,201);
    border:none;
    color:white;
}